{% load static %}
<!DOCTYPE html>
<html>
<!-- head -->
<head>
    <link rel="stylesheet" href="{% static 'css/notesApp.css' %}">
    <title>Notes</title>
</head>
<!-- body -->
<body>
    <!-- header -->
    <header class="header-class">
        <div class="logo-class"><h1>ЛОГОТИП</h1></div>
        <div class="account-class"><h1>АККАУНТ</h1></div>
        <div class="search-class"><h1>ПОИСК</h1></div>
    </header>
    <!-- main-body -->
    <div class="main-body-class">
        <div class="tab">
            <button class="tablinks" onclick="openSection(event, 'All')" id="defaultOpen">Все</button>
            <button class="tablinks" onclick="openSection(event, 'Favs')">Избранные</button>
            <button class="tablinks" onclick="openSection(event, 'Last')">Последние</button>
            <button class="tablinks" onclick="openSection(event, 'Time')">Временные</button>
            <button class="tablinks" onclick="openSection(event, 'Recycle')">Корзина</button>

            <!-- https://html5css.ru/howto/howto_js_tabs.php        как сделать вкладки!!   -->
        </div>

        <div id="All" class="tabcontent">
            <h2>Здесь все заметки</h2>
                {% for note in notesDesc %}
                    <div class="note-class">
                        <h3>{{ note.title }} <br></h3>
                        {{ note.content }} <br>
                        {{ note.created_at }}
                        {{ note.last_update }}
                    </div>
                {% endfor %}
        </div>

        <div id="Last" class="tabcontent">
            <h2>Здесь последние заметки</h2>
                {% for note in notesLast %}
                    <div class="note-class">
                        <h3>{{ note.title }} <br></h3>
                        {{ note.content }} <br>
                        {{ note.created_at }}
                    </div>
                {% endfor %}

        </div>

        <div id="Favs" class="tabcontent">
          <h2>Здесь избранные заметки</h2>
                {% for note in notesFavs %}
                    <div class="note-class">
                        <h3>{{ note.title }} <br></h3>
                        {{ note.content }} <br>
                        {{ note.created_at }}
                    </div>
                {% endfor %}

        </div>

        <div id="Time" class="tabcontent">
          <h2>Здесь заметки, запланированные на какую-то дату</h2>
                {% for note in notesTemp %}
                    <div class="note-class">
                        <h3>{{ note.title }} <br></h3>
                        {{ note.content }} <br>
                        {{ note.created_at }}
                    </div>
                {% endfor %}
        </div>

        <div id="Recycle" class="tabcontent">
          <h2>Здесь заметки, отправленные в корзину</h2>
                {% for note in notesRec %}
                    <div class="note-class">
                        <h3>{{ note.title }} <br></h3>
                        {{ note.content }} <br>
                        {{ note.created_at }}
                    </div>
                {% endfor %}
        </div>



        <!-- create note div -->
       <a onclick="showPopup();return false;">
            <div class="create-class">
                <h3>Создать заметку</h3>
            </div>
        </a>




    </div>




    <div id="overlay" onclick="hidePopup()"></div>
    <div id="popup">
         <h2>Введите данные</h2>
         <form action="/save/" method="post">
                {% csrf_token %}
                <label for="title">Название</label>
                <input type="text" id="title" name="title" required><br><br>

                <label for="content">Содержание</label>
                <input type="text" id="content" name="content" required><br><br>

                <button type="submit">Сохранить</button>
        </form>
    </div>


    <!-- footer -->
    <footer class = 'footer-class'>
        <h2>ПОДВАЛ: Больше заметок нет</h2>
    </footer>

<!-- the end -->

<script>
function openSection(evt, sectionName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(sectionName).style.display = "block";
    evt.currentTarget.className += " active";
}

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();



    function test() {
        alert( "Привет" );
    }
</script>



</body>
</html>
<script>

      function showPopup() {
        //window.open("/add", "_blank");
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('popup').style.display = 'block';
    }

    function hidePopup() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('popup').style.display = 'none';
    }



    /*
    const popupOverlay = document.getElementById("popup-overlay");
    const popup = document.getElementById("popup");


    function showPopup() {
      popupOverlay.style.display = "block";
    }

    function hidePopup() {
      popupOverlay.style.display = "none";
    }

    popupOverlay.addEventListener("click", hidePopup);
    popup.addEventListener("click", (event) = event.stopPropagation());
    */

    function openAddPage() {
        window.open("/add", "_blank");
    }


</script>