{% load static %}
<!DOCTYPE html>
<html>
<!-- head -->
<head>
    <link rel="stylesheet" href="{% static 'css/notesApp.css' %}">
    <title>Notes</title>
</head>
<!-- body -->
<body>
    <!-- header -->
    <header class="header-class">
        <div class="logo-class"><h1>ЛОГОТИП</h1></div>
        <div class="account-class"><h1>АККАУНТ</h1></div>
        <div class="search-class"><h1>ПОИСК</h1></div>
    </header>
    <!-- main-body -->
    <div class="main-body-class">
        <div class="tab">
            <button class="tablinks" onclick="openSection(event, 'All')" id="defaultOpen">Все</button>
            <button class="tablinks" onclick="openSection(event, 'Favs')">Избранные</button>
            <button class="tablinks" onclick="openSection(event, 'Last')">Последние</button>
            <button class="tablinks" onclick="openSection(event, 'Time')">Временные</button>
            <button class="tablinks" onclick="openSection(event, 'Recycle')">Корзина</button>

            <!-- https://html5css.ru/howto/howto_js_tabs.php        как сделать вкладки!!   -->




        </div>

        <div id="All" class="tabcontent">
            <h2>Здесь все заметки</h2>
                {% for note in notesDesc %}
                    <div class="note-class">
                        <div class="left-note-content">
                            <h3>{{ note.title }} <br></h3>
                            <span class="span-content">
                                {{ note.content }} <br>
                            </span>
                            <p> </p>
                            <span class="span-gray">
                                {{  "создана: " }}
                                {{ note.created_at }}<br>
                            </span>
                            {% if note.last_update %}
                                <span class="span-gray">
                                    {{  "изменена: " }}
                                    {{ note.last_update }}
                                </span>
                            {% else %}
                                {{ "&nbsp; " }}
                            {% endif %}
                        </div>
                        <div class="right-note-content">
                            {% if note.is_favorite %}
                                <img id="a-right-fav-0" name="favimg" src="/static/img/star_1.png" class="right-favs-img"/><br>
                            {% else %}
                                <img id="a-right-fav-1" name="favimg" src="/static/img/star_0.png" class="right-favs-img"/><br>
                            {% endif %}
                            <a onclick="updateNote({{note.id}});return false;">
                                <img id="a-right-update" name="favimg" src="/static/img/pencil.png" class="right-update-img"/>
                            </a>
                        </div>
                    </div>


                {% endfor %}
        </div>

        <div id="Last" class="tabcontent">
            <h2>Здесь последние заметки</h2>
                {% for note in notesLast %}
                    <div class="note-class">
                        <div class="left-note-content">
                            <h3>{{ note.title }} <br></h3>
                            <span class="span-content">
                                {{ note.content }} <br>
                            </span>
                            <p> </p>
                            <span class="span-gray">
                                {{  "создана: " }}
                                {{ note.created_at }}<br>
                            </span>
                            {% if note.last_update %}
                                <span class="span-gray">
                                    {{  "изменена: " }}
                                    {{ note.last_update }}
                                </span>
                            {% else %}
                                {{ "&nbsp; " }}
                            {% endif %}
                        </div>
                        <div class="right-note-content">
                            {% if note.is_favorite %}
                                <img id="l-right-fav-0" name="favimg" src="/static/img/star_1.png" class="right-favs-img"/><br>
                            {% else %}
                                <img id="l-right-fav-1" name="favimg" src="/static/img/star_0.png" class="right-favs-img"/><br>
                            {% endif %}
                                <a onclick="updateNote({{note.id}});return false;">
                                    <img id="l-right-update" name="favimg" src="/static/img/pencil.png" class="right-update-img"/>
                                </a>
                        </div>
                    </div>
                {% endfor %}

        </div>

        <div id="Favs" class="tabcontent">
          <h2>Здесь избранные заметки</h2>
                {% for note in notesFavs %}
                    <div class="note-class">
                        <div class="left-note-content">
                            <h3>{{ note.title }} <br></h3>
                            <span class="span-content">
                                {{ note.content }} <br>
                            </span>
                            <p> </p>
                            <span class="span-gray">
                                {{  "создана: " }}
                                {{ note.created_at }}<br>
                            </span>
                            {% if note.last_update %}
                                <span class="span-gray">
                                    {{  "изменена: " }}
                                    {{ note.last_update }}
                                </span>
                            {% else %}
                                {{ "&nbsp; " }}
                            {% endif %}
                        </div>
                        <div class="right-note-content">
                            {% if note.is_favorite %}
                                <img id="f-right-fav-0" name="favimg" src="/static/img/star_1.png" class="right-favs-img"/><br>
                            {% else %}
                                <img id="f-right-fav-1" name="favimg" src="/static/img/star_0.png" class="right-favs-img"/><br>
                            {% endif %}
                            <img id="f-right-update" name="favimg" src="/static/img/pencil.png" class="right-update-img"/>
                        </div>
                    </div>
                {% endfor %}

        </div>

        <div id="Time" class="tabcontent">
          <h2>Здесь заметки, запланированные на какую-то дату</h2>
                {% for note in notesTemp %}
                    <div class="note-class">
                        <div class="left-note-content">
                            <h3>{{ note.title }} <br></h3>
                            <span class="span-content">
                                {{ note.content }} <br>
                            </span>
                            <p> </p>
                            <span class="span-gray">
                                {{  "создана: " }}
                                {{ note.created_at }}<br>
                            </span>
                            {% if note.last_update %}
                                <span class="span-gray">
                                    {{  "изменена: " }}
                                    {{ note.last_update }}
                                </span>
                            {% else %}
                                {{ "&nbsp; " }}
                            {% endif %}
                            <p> </p>
                            {{  "дата события: " }}
                            <h4>{{ note.action_dt }}</h4>
                        </div>
                        <div class="right-note-content">
                            {% if note.is_favorite %}
                                <img id="t-right-fav-0" name="favimg" src="/static/img/star_1.png" class="right-favs-img"/><br>
                            {% else %}
                                <img id="t-right-fav-1" name="favimg" src="/static/img/star_0.png" class="right-favs-img"/><br>
                            {% endif %}
                            <img id="t-right-update" name="favimg" src="/static/img/pencil.png" class="right-update-img"/>
                        </div>
                    </div>


                {% endfor %}
        </div>

        <div id="Recycle" class="tabcontent">
          <h2>Здесь заметки, отправленные в корзину</h2>
                {% for note in notesRec %}
                    <div class="note-class">
                        <div class="left-note-content">
                            <h3>{{ note.title }} <br></h3>
                            <span class="span-content">
                                {{ note.content }} <br>
                            </span>
                            <p> </p>
                            <span class="span-gray">
                                {{  "создана: " }}
                                {{ note.created_at }}<br>
                            </span>
                            {% if note.last_update %}
                                <span class="span-gray">
                                    {{  "изменена: " }}
                                    {{ note.last_update }}
                                </span>
                            {% else %}
                                {{ "&nbsp; " }}
                            {% endif %}
                        </div>
                        <div class="right-note-content">
                            {% if note.is_favorite %}
                                <img id="r-right-fav-0" name="favimg" src="/static/img/star_1.png" class="right-favs-img"/><br>
                            {% else %}
                                <img id="r-right-fav-1" name="favimg" src="/static/img/star_0.png" class="right-favs-img"/><br>
                            {% endif %}
                            <img id="r-right-update" name="favimg" src="/static/img/pencil.png" class="right-update-img"/>
                        </div>
                    </div>
                {% endfor %}
        </div>










        <!-- create note div -->
       <a onclick="createNote();return false;">
            <div class="create-class" id="id_create_div">
                <h3>Создать заметку</h3>
            </div>
        </a>




    </div>




    <div id="overlay" onclick="hidePopup()"></div>
    <div id="popup">
        <h2><span id="action_name">Новая заметка</span></h2>
         <form action="/save/" method="post">
                <div class="span_in_line">
                    {% csrf_token %}
                    <input type="text" id="title" name="title" required placeholder="Название" maxlength="100" class="forminputtext"><br><br>
                    <textarea id="content" name="content" required placeholder="Содержание" maxlength="400" class="forminputcontent"></textarea><br><br>
                    <input type="text" id="action_dt" name="action_dt"  placeholder="Дата события (i)" maxlength="400"  class="forminputtext" title="Если заметка запланирована на будущее, при наступлении даты заметка отобразится на вкладке Временные"><br><br>

                    <a onclick="shiftFaws();return false;">
                        <div class="favs">
                        <img id="favimg" name="favimg" src="/static/img/star_0.png" class="favs-img"/>
                        </div>
                    </a>
                    <button type="submit" class="forminputsave">Сохранить</button>
                    <input type="text" id="hid_fav" name="hid_fav" class="tmp_hid">
                    <input type="text" id="mode" name="mode" class="tmp_hid">
                    <input type="text" id="note_id" name="note_id" class="tmp_hid">
                    <input type="text" id="img_name" name="img_name" class="tmp_hid">
                </div>
                <div class="span_in_line">
                    <input type=file name=file>
                    <div>
                        <img id="img_in_note" name="img_in_note" src="" class="img_in_note"/>

                    </div>
                </div>
        </form>
    </div>




    <!-- footer -->
    <footer class = 'footer-class'>
        <h2>Больше заметок нет</h2>
    </footer>


<!-- the end -->

<script>



    function openSection(evt, sectionName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(sectionName).style.display = "block";
        evt.currentTarget.className += " active";
    }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();



    function test() {
        alert( "Привет" );
    }






</script>



</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function clearNote() {
        document.getElementById('mode').value = 'clear';
        document.getElementById('title').value = '';
        document.getElementById('content').value = '';
        document.getElementById('action_dt').value = '';
        document.getElementById('hid_fav').value = '';
        document.getElementById('favimg').src = "/static/img/star_0.png";
        document.getElementById('img_name').value = '';
    }

    function createNote() {
        clearNote();
        document.getElementById('mode').value = 'create';
        document.getElementById('action_name').innerHTML  = 'Новая заметка';
        document.getElementById('note_id').value = 0;

        //#$("#id_create_div").text("your text");


        showPopup();
    }


    function updateNote(id) {
        clearNote();
        
        document.getElementById('mode').value = 'update';
        document.getElementById('note_id').value = id;
        document.getElementById('action_name').innerHTML = 'Изменить заметку';

        $(document).ready(function() {
            $.ajax({
                url: 'note/xml/' + id + '/', // Укажите ваш URL
                type: 'GET',
                dataType: 'xml',
                success: function(data) {
                    // Получаем значения тегов
                    var title = $(data).find('Title').text();
                    var content = $(data).find('Content').text();
                    var action_dt = $(data).find('Action_dt').text();
                    var is_favorite = $(data).find('Is_favorite').text();
                    var img_name = $(data).find('Img_name').text();

                    // Выводим значения на страницу
                    $('#title').val(title);
                    $('#content').val(content);
                    $('#action_dt').val(action_dt);
                    $('#img_name').val(img_name);

                    if (is_favorite == '1') {
                        // 222
                        document.getElementById("favimg").src = "/static/img/star_1.png";
                        document.getElementById("hid_fav").value = '1';
                    } else {
                        document.getElementById("favimg").src = "/static/img/star_0.png";
                        document.getElementById("hid_fav").value = '0';
                    }

                },
                error: function(xhr, status, error) {
                    console.error('Ошибка при загрузке XML:', error);
                }
            });
        });


        showPopup();
    }



      function showPopup() {

        if (document.getElementById('mode').value == 'create') {
            // создание новой заметки. Очищаем поля
        } else if (document.getElementById('mode').value == 'update') {
            // изменение заметки. Очищаем поля и заполняем значениями
        }


        document.getElementById('overlay').style.display = 'block';
        document.getElementById('popup').style.display = 'block';
    }

    function hidePopup() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('popup').style.display = 'none';
    }



    /*
    const popupOverlay = document.getElementById("popup-overlay");
    const popup = document.getElementById("popup");

    function showPopup() {
      popupOverlay.style.display = "block";
    }

    function hidePopup() {
      popupOverlay.style.display = "none";
    }

    popupOverlay.addEventListener("click", hidePopup);
    popup.addEventListener("click", (event) = event.stopPropagation());
    */

    function openAddPage() {
        window.open("/add", "_blank");
    }

    function shiftFaws() {
        if (document.getElementById("hid_fav").value == '1') {

            document.getElementById("hid_fav").value = '0';
            document.getElementById("favimg").src = "/static/img/star_0.png";

        } else {

            document.getElementById("hid_fav").value = '1';
            document.getElementById("favimg").src = "/static/img/star_1.png";

        }
    }



</script>